<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %> 
  <body>


    


    <%- include("partials/nav.ejs") %>

    <h2><br> To be able to properly match up items, it's best to have at least 6 pieces in each category <br><br></h2>

    <div class="upper">
      <!-- Each image is added twice, so that the scrollbar can bring any element in the upper class to match any element in the lower class
      so that users can match any piece of clothing they like -->
      
      <% if (user.images.length != 0){ %>
        <% user.images.forEach(element => { %> 
          <% if (element.clothing == 'Top'){   %>
            <% size = (element.link.split('/')).length; %>
            <% const originalName = (element.link.split('/')[size-1]); %>
          <div class="upper_tile">
            <img src="<%=element.link%>" width="300" alt="A piece of upper wear"> 
            <a class="delete" id="delete" data-doc="<%= [element._id, user._id, originalName] %>">
              <img src="/trashcan.svg" alt="delete icon">
            </a> 
          </div>          
      <% } }) } else { %>
        <h2>Sorry, no tops to display!</h2>
      <% } %>

      <% if (user.images.length != 0){ %>
        <% user.images.forEach(element => { %> 
          <% if (element.clothing == 'Top'){ %>
            <% size = (element.link.split('/')).length; %>
            <% const originalName = (element.link.split('/')[size-1]); %>
          <div class="upper_tile">
            <img src="<%=element.link%>" width="300" alt="A piece of upper wear"> 
            <a class="delete" id="delete" data-doc="<%= [element._id, user._id, originalName] %>">
              <img src="/trashcan.svg" alt="delete icon">
            </a> 
          </div>          
      <% } }) } %>

      

    </div>
    
    <div class="lower">

      <% if (user.images.length != 0){ %>
        <% user.images.forEach(element => { %> 
          <% if (element.clothing == 'Bottom'){ %>
            <% size = (element.link.split('/')).length; %>
            <% const originalName = (element.link.split('/')[size-1]); %>
          <div class="lower_tile">
            <img src="<%=element.link%>" width="300" alt="A piece of Bottom wear"> 
            <a class="delete" id="delete" data-doc="<%= [element._id, user._id, originalName] %>">
              <img src="/trashcan.svg" alt="delete icon">
            </a> 
          </div>          
          <% } }) } else { %>
            <h2>Sorry, no bottoms to display!</h2>
          <% } %>

      
      <% if (user.images.length != 0){ %>
        <% user.images.forEach(element => { %> 
          <% if (element.clothing == 'Bottom'){ %>
            <% size = (element.link.split('/')).length; %>
            <% const originalName = (element.link.split('/')[size-1]); %>
          <div class="lower_tile">
            <img src="<%=element.link%>" width="300" alt="A piece of Bottom wear"> 
            <a class="delete" id="delete" data-doc="<%= [element._id, user._id, originalName] %>">
              <img src="/trashcan.svg" alt="delete icon">
            </a> 
          </div>          
          <% } }) } %>

      
      

  
  
    </div>


    <script>
      const trashcans = document.querySelectorAll("a.delete");
      for (const trashcan of trashcans){
        trashcan.addEventListener('click', (e) => {
        // console.log("event clicked");
        const endpoint = `/clothing/${trashcan.dataset.doc}`;
        // console.log('end', endpoint);
        fetch(endpoint, {
          method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err));
      })
    };

      
    </script>

    

  </body>
</html>